/* .nav-link:hover {
  border-bottom: 3px solid red;
}

.nav-link {
  border-bottom: 3px solid transparent;
}

.navbar-toggler.collapsed .material-icons {
  display: none;
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon {
  display: none;
} */

*,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #181719;
  color: #ffffff;
}
.card {
  background: #181719;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#footer {
  background: #181719;
}
a {
  color: white;
}
a:hover {
  color: white;
}

/* #navbrand {
  border: 1px solid white;
  color: white;
  top: 8px;
  left: 5%;
  margin: 50px;
} */
/*ended here yesterday*/
.navbar-brand {
  position: absolute;
  width: auto;
  top: 20px;
  text-align: left;
  left: 20px;
}

nav {
  height: 80px;
  background: #181719;
  width: 100%;
}
nav ul {
  float: right;
  margin-right: 25px;
  list-style: none;
  margin-top: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 50px;
  margin: 0 15px;
}

nav ul li a {
  position: relative;
  padding: 5px 0;
  color: white;
  font-size: 18px;
  text-decoration: none;
  border-bottom: 3px solid transparent;
}

nav ul li a.active {
  border-bottom: 3px solid white;
}
nav ul li a:hover {
  color: white;
  border-bottom: 3px solid white;

}

label #ham,
#cross {
  font-size: 30px;
  color: white;
  line-height: 50px;
  margin-right: 30px;
  cursor: pointer;
  display: none;
  position: absolute;
  top: 5px;
  right: 0px;
}
#res-menu {
  display: none;
}
.imgcard-wrapper {
  position: relative;
}

.card-text {
  font-size: 13px;
  font-family: Lora, serif;
  font-weight: bold;
}

@media (max-width: 768px) {
  label #ham {
    display: block;
    top: 10px;
  }
  .navbar-brand {
    top: 10px;
    left: 10px;
  }
  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #181719;
    top: 50px;
    left: -100%;
    transition: 0.5s;
    z-index: 10;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  nav ul li a {
    font-size: 20px;
  }

  nav ul li a {
    border-bottom: 3px solid transparent;
  }

  nav ul li a.active {
    border-bottom: 3px solid white;
  }

  #res-menu:checked ~ ul {
    left: 0;
  }
  #res-menu:checked ~ label #ham {
    display: none;
  }
  #res-menu:checked ~ label #cross {
    display: block;
  }
  #res-menu:checked ~ label #brand {
    display: none;
  }
}

@media screen and (max-width: 420px) {
  label #ham,
  #cross {
    top: 0px;
    right: -15px;
  }
  nav ul {
    top: 40px;
  }
}
@media screen and (min-width: 768px) {
  .navbar-brand {
    margin: 10px 25px 16px 0px;
  }
}
@media screen and (max-width: 375px) {
  .card-text {
    font-size: 10px;
  }
  h6 {
    font-size: 10px;
  }
  #cardwrap {
    position: absolute;
    width: 61%;
    bottom: -86px;
    right: 47px;
  }
  .card {
    width: auto;
  }
}

@media (min-width: 376px) {
  #cardwrap {
    position: absolute;
    width: 63%;
    bottom: -67px;
    right: 70px;
  }
}
